#!/bin/bash


{{- if eq .chezmoi.os "darwin" }}


brew install MisterTea/et/et mosh autossh || true

brew install neovim vim curl wget node git lazygit imagemagick \
	coreutils hub htop bluetoothconnector || true

brew install fzf eza fd bat vivid jq ripgrep || true

# check another time
# charles kap
brew install --cask nikitabobko/tap/aerospace alfred jordanbaird-ice \
  google-chrome firefox \
	font-fira-code-nerd-font inkscape \
	karabiner-elements kitty mactex nvalt slack spotify \
	gpg-suite-no-mail jupyter-notebook-viewer  \
	keka the-unarchiver virtualbox \
  obsidian vscodium neovide itsycal \
	xquartz || true
 
brew install kubernetes-cli pyenv ykman || true

# the-unarchiver 
{{- if eq .email "pbutler@killertux.org" }}
# Pesonal machine installs
brew install --cask nordvpn tunnleblick arq tailscale
{{- end }}
{{- end }}
