#!/bin/bash

tmpfile=$(mktemp)
curl https://raw.githubusercontent.com/Shougo/dein.vim/master/bin/installer.sh > $tmpfile
sh $tmpfile ~/.cache/dein
# yeah could leak in a crash but it's not a big deal, it's one file rarely run
rm -f $tmpfile

git clone --depth=1 https://github.com/wbthomason/packer.nvim ~/.local/share/nvim/site/pack/packer/start/packer.nvim

{{- if eq .chezmoi.os "darwin" }}
if [ ! -d /usr/local/Cellar ]; then
	/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
fi
brew install pyenv || true
{{ else if eq .chezmoi.os "linux" -}}
#this should be tuned for non-debian systems too
if [ ! -d ~/.pyenv ]; then
	#min reqs for pyenv
	sudo apt-get update; sudo apt-get install -y --no-install-recommends make build-essential libssl-dev zlib1g-dev libbz2-dev libreadline-dev libsqlite3-dev wget curl llvm libncurses5-dev xz-utils tk-dev libxml2-dev libxmlsec1-dev libffi-dev liblzma-dev
	curl https://pyenv.run | bash
fi
{{- end }}

#node
if [ ! -x ~/.local/bin/node ]; then
	curl -sL install-node.now.sh | bash -s -- --prefix=$HOME/.local
fi
