Host *

Host sysx
	User pabutler
	Hostname sysx2.arc.vt.edu

Host anantham
	User pabutler
	Hostname anantham.cs.vt.edu

Host killertux.org
	User pbutler

Host graphics.cs.vt.edu
	User patrick

Host graphics
	User patrick
	Hostname graphics.cs.vt.edu


Host pipe.cs.vt.edu
	User pbutler
	ForwardAgent yes

Host pipe
	User pbutler
	Hostname pipe.cs.vt.edu
	ForwardAgent yes

Host balrog
	Hostname killertux.org
	ForwardAgent yes

Host gamgee
	Hostname gamgee.killertux.org
	User pbutler
	ForwardAgent yes

Host bio
	Hostname bioinformatics.cs.vt.edu
	User pabutler
	ForwardX11 yes
	ForwardAgent yes

Host *.cs.vt.edu
	User pabutler
	ForwardX11 yes
	ForwardAgent yes
