Host *

Host pipe
	User pbutler
	Hostname pipe.cs.vt.edu

Host balrog
	Hostname killertux.org
	ForwardAgent yes

Host gamgee
	Hostname gamgee.killertux.org
	User pbutler
	ForwardAgent yes

Host bio
	Hostname bioinformatics.cs.vt.edu
	User pabutler
	ForwardX11 yes
	ForwardAgent yes

Host *.cs.vt.edu
	ForwardX11 yes
	ForwardAgent yes
	User pabutler
